*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --bg-color: #F3EFEC; /*цвет фона*/ /**/
  --text-color: #312A4E; /*цвет текста*/
  --accent-color: #FFAB6B; /*акцентный цвет*/
  --main-font: Raleway; /* 700 имя семейства шрифта преобладающего текста (абзацы)*/
  --accent-font: 'STIX Two Text'; /*шрифт для заголовков и особенных текстовых элементов*/
}

.page {
  min-inline-size: 360px;
  margin: 0;
  background-color: var(--bg-color, #F3EFEC);
  color: var(--text-color, #312A4E);
  font-family: var(--main-font, sans-serif);
}

p,
h1,
h2,
h3,
blockquote,
ul,
ol,
li,
figure {
  margin: 0;
}

.theme_dark {
  --bg-color: #171717;
  --text-color: #b3b3b3;
  --accent-color: transparent;
}

.header {
  padding-top: 10%;
}

.heading {
  font-family: var(--accent-font, serif);
  font-weight: 600;
  line-height: 90%;
  text-align: center;
}

.content-section {
  padding-left: 5vi;
  padding-right: 5vi;
}

.header__title {
  font-size: clamp(3.75rem, 2.5rem + 5.5556vw, 7.5rem);
  margin-bottom: 40px;
}

.content__title {
  font-size: 30px;
  margin: 7% 0 2.5%;
}

.content__text-block {
  font-family: var(--main-font, sans-serif);
  font-weight: 400;
  font-size: 18px;
}

.content__paragraph:not(:last-child) {
  padding-bottom: 1.5em;
}

a {
  color: inherit;
}

a:focus, button:focus {
  outline: none;
}

a:focus-visible, button:focus-visible {
  outline: 1px solid var(--text-color, #312A4E);
}

a:hover {
  text-decoration: underline;
  text-decoration-color: #999999;
}

button:disabled {
  pointer-events: none;
}

.content__blockquote {
  font-family: var(--main-font, sans-serif);
  font-style: italic;
  font-weight: 400;
  font-size: 18px;
  line-height: 200%;
  padding-bottom: 1.5em;
  margin: auto;
  width: 75%;
}

.content__list {
  list-style: none;
  padding-inline-start: 40px;
  
}

.content__list li {
  position: relative;
}

.content__list li:not(:last-child) {
  margin-bottom: 10px;
}

.content__list li::before {
  content: "";
  position: absolute;
  background-image: url(../images/marker-light.svg);
  background-position: center;
  background-repeat: no-repeat;
  margin-left: -25px;
  margin-top: -7.5px;
  width: 15px;
  height: 15px;
  top: 50%;
}

.content__text-block_type_first-lettered .content__paragraph:first-of-type:first-letter {
  background-color: var(--accent-color, #FFAB6B);
  display: inline-block;
  padding: 0px 4px;
  margin-right: 1px;
  font-size: 30px;
  font-weight: 700;
}

.content__figure {
  position:relative;
  margin: 7% auto;
  width: calc(100% + 2 * 5vi);
  left: -5vi;
}

.content__picture-caption {
  font-size: var(--main-font, sans-serif);
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  padding: 20px 0px;
  border-bottom: 1px solid var(--text-color, #312A4E);
}

.content__picture {
  width: 100%;
}

.content__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  aspect-ratio: 4 / 3;
  margin-top: 7%;
  border: 1px solid var(--text-color, #312A4E);
}

.content__card-title {
  font-weight: 600;
  font-size: 60px;
  line-height: 90%;
}

.colored-text {
  position: relative;
  display: inline-block;
}

.colored-text::after {
  content: "";
  position: absolute;
  background-color: var(--accent-color, #FFAB6B);
  height: 0.5ch;
  bottom: 0.3ch;
  width: calc(100% + 2 * 5px);
  left: -4px;
  z-index: -1;
}

.content__card-subtitle {
  font-weight: 400;
  font-size: 18px;
}

.header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid var(--text-color, #312A4E);
  border-bottom: 1px solid var(--text-color, #312A4E);
}

.header__theme-toggler {
  display: flex;
  gap: 20px;
  padding: 0;
  list-style: none;
}

.header__theme-button {
  font-family: inherit;
  font-size: 18px;
  color: currentColor;
  cursor: pointer;
  border: none;
  background-color: transparent;
  padding: 0;
}

.header__theme-button_type_dark:hover {
  text-decoration: underline;
  text-decoration-color: #999999;
}

.header__theme-button_type_dark:focus {
  border: 1px solid var(--text-color, #312A4E);
}

.header__theme-button_type_light:hover {
  text-decoration: underline;
  text-decoration-color: #999999;
}

.header__theme-button_type_light:focus {
  border: 1px solid var(--text-color, #312A4E);
}

.header__theme-button_is-active {
  position: relative;
  font-weight: 700;
}

.header__theme-button_is-active::after {
  content: "";
  position: absolute;
  background-color: var(--accent-color, #FFAB6B);
  height: 0.7ch;
  bottom: 0.1ch;
  width: calc(100% + 2 * 4px);
  left: -5px;
  z-index: -1;
}

.footer {
  margin-top: 10%;
  padding: 2.5%;
  border-top: 1px solid var(--text-color, #312A4E);
}

.footer__copyright {
  font-family: var(--main-font, sans-serif);
  font-weight: 400;
  font-size: 18px;
  text-align: center;
}

.theme_dark .header__theme-button_is-active::after {
  background-image: url(../images/pattern.svg);
}

.theme_dark .colored-text::after {
  background-image: url(../images/pattern.svg);
}

.theme_dark .content__text-block_type_first-lettered .content__paragraph:first-of-type:first-letter {
  border: 1px solid var(--text-color, #312A4E);
}

.theme_dark .content__list li::before {
  background-image: url(../images/marker-dark.svg);
}